* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .container {
    width: 100%;
    height: 800px;
    perspective: 100%;
  
    background-color: rgb(0, 0, 0);
    background: linear-gradient(to right, #110b0a, #0e001b); /* Add your gradient here */

}


  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .card {
    margin-left: 920px;
    margin-bottom: 500px;
        height: 800px;
    width: 750px;

    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    height: 800px;
    width: 750px;
    border-radius: 0rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background-image: url('/images/01-trunk.jpg');
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; 
  }
  

  .back {
  
  
    background-image: url('/images/02-trunck.png');
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; 
    background-color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .pol
  {

    background: linear-gradient(to right, #00e859, #1b07d0); /* Add your gradient here */
  }

  