* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
scroll-behavior: smooth;

  }
  .left{ 
    

    width: 35%;
    float: left;
    height: 800px;
    color: aliceblue;
    background-color: #0c0108;/* Add your gradient here */
  }
  .left h1{
      font-size: 3em;
      text-align: center;
      color: #a3e5ff;
      margin-left: 86px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 15px;
    }

    .left h2{
      font-size: 25px;
      margin-left: 70px;
      text-align: center;
      color: #758293;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      letter-spacing: 10px;
    }

  .container {
    width: 65%;
 
    float: right;
    height: 800px;
    perspective: 100%;
  padding:0;
     background-color: rgb(0, 0, 0);
 background-color: #040025;
 background-color: #0c0108;/* Add your gradient here */
  }



  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .card {
    margin-left: 400px;

        height: 800px;
        width: 750px;

    position:static;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    height: 800px;
    width: 750px;
    border-radius: 0rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background-image: url('/images/01-trunk.jpg');
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; 
  }
  

  .back {
  
  
    background-image: url('/images/02-trunck.png');
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; 
    background-color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .sea
  {
   width: 100%;
   height: 4004px;
   float: inline-start;
   background: rgb(32,42,62);
   background: linear-gradient(45deg, rgba(32,42,62,1) 44%, rgba(12,107,185,1) 88%);
  img{
  margin-top: 0px;
  display: block;
  }

   a{
    font-size:30px;
    background-color: #f9f9f9;

    text-decoration: none;
    text-align: center;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    color:black;
    margin-left: 0px;  
     display: block;
  }
  .lol{  /*  Keep diving   */
    font-size:25px;
    background-color: #f3f3f3;
    width: 210px;
    
    text-decoration: none;
    text-align: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
    color:black;
    margin-left: 860px;  
    border-radius: 30px;
  }

  h{
    color:white ;  /*  depth   */
    font-size: 25px;
    display: block;
    margin-top: -220px;
    margin-left: 85%;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-feature-settings: "afrc";
    font-stretch: semi-expanded;
  }

  p{
    font-size: 28px;
    letter-spacing: 2px;
    position: relative;
    color: white;
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 800px;
  }
  h1{

    color: #ffffff;
    font-size: 30px;
    letter-spacing: 4px;
    position: relative;
    color: white;
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 800px;
  }
  

  }

  
  .soil
  {
   width: 100%;
   height: 3004px;
   float: inline-start;
   background: rgb(87,80,61);

   background: linear-gradient(90deg, rgba(87,80,61,1) 0%, rgba(147,107,51,1) 100%);
   h{
    color:white ;  /*  depth   */
    font-size: 25px;
    display: block;
    margin-top: 0px;
    margin-left: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-feature-settings: "afrc";
    font-stretch: semi-expanded;
    
  }
  .lol2{  /*  Keep diving   */
    font-size:25px;
    background-color: #f3f3f3;
    width: 210px;
    display: block;
    margin-bottom:344px;
    
    text-decoration: none;
    text-align: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
    color:black;
    margin-left: 860px;  
    border-radius: 30px;
  }
  
  
  
  }

  
  .lava
  {
   width: 100%;
   height: 3050px;
   float: inline-start;
   background: rgb(255, 254, 251);
   background: rgb(245,89,56);
   background: radial-gradient(circle, rgba(245,89,56,1) 8%, rgba(223,89,33,1) 30%, rgba(237,44,9,1) 51%, rgba(242,68,68,1) 71%, rgba(236,102,79,1) 91%);
  
  
   h{
    color:white ;  /*  depth   */
    font-size: 25px;
    display: block;
    margin-top: 0px;
    margin-left: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-feature-settings: "afrc";
    font-stretch: semi-expanded;
    
  }
  .lol3{  /*  Keep diving   */
    font-size:25px;
    background-color: #f3f3f3;
    width: 210px;
    display: block;
    margin-bottom:344px;
    
    text-decoration: none;
    text-align: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
    color:black;
    margin-left: 860px;  
    border-radius: 30px;
  }
  
  
  
  
  
  
  
  
  }
  .lava2
  {
   width: 100%;
   height: 3050px;
   float: inline-start;
   background: rgb(255, 254, 251);
   background: rgb(232,33,7);
   background: linear-gradient(0deg, rgba(232,33,7,1) 19%, rgba(251,130,0,1) 59%, rgba(253,83,45,1) 87%);
  
   h{
    color:white ;  /*  depth   */
    font-size: 25px;
    display: block;
    margin-top: 0px;
    margin-left: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-feature-settings: "afrc";
    font-stretch: semi-expanded;
    
  }
  .lol4{  /*  Keep diving   */
    font-size:25px;
    background-color: #f3f3f3;
    width: 210px;
    display: block;
    margin-bottom:344px;
    
    text-decoration: none;
    text-align: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
    color:black;
    margin-left: 860px;  
    border-radius: 30px;
  }
  
  
  }

  .lava3
  {
   width: 100%;
   height: 3050px;
   float: inline-start;
   background: rgb(255, 254, 251);
   background: rgb(36,28,0);
   background: linear-gradient(90deg, rgba(36,28,0,1) 0%, rgba(84,19,0,1) 36%, rgba(193,0,0,1) 78%, rgba(218,32,0,1) 89%, rgba(237,107,0,1) 98%);
  
   h{
    color:white ;  /*  depth   */
    font-size: 25px;
    display: block;
    margin-top: 0px;
    margin-left: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-feature-settings: "afrc";
    font-stretch: semi-expanded;
    
  }
  .lol5{  /*  Keep diving   */
    font-size:25px;
    background-color: #f3f3f3;
    width: 210px;
    display: block;
    margin-bottom:344px;
    
    text-decoration: none;
    text-align: center;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
    color:black;
    margin-left: 860px;  
    border-radius: 30px;
  }
  
  
  }

  .lava4{

    width: 100%;
    height: 3050px;
    float: inline-start;
  
  background: rgb(176,0,0);
background: linear-gradient(90deg, rgba(176,0,0,1) 1%, rgba(255,30,5,1) 17%, rgba(144,33,1,1) 47%, rgba(193,0,0,1) 78%, rgba(139,30,11,1) 89%, rgba(215,58,1,1) 98%);
  
h{
  color:white ;  /*  depth   */
  font-size: 25px;
  display: block;
  margin-top: 0px;
  margin-left: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-feature-settings: "afrc";
  font-stretch: semi-expanded;
  
}
.lol6{  /*  Keep diving   */
  font-size:25px;
  background-color: #f3f3f3;
  width: 210px;
  display: block;
  margin-bottom:344px;
  
  text-decoration: none;
  text-align: center;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color:black;
  margin-left: 860px;  
  border-radius: 30px;
}



}

.end{
  width: 100%;
  height: 3050px;
  float: inline-start;

  background: rgb(241,97,0);
background: linear-gradient(0deg, rgba(241,97,0,1) 18%, rgba(255,121,11,1) 25%, rgba(251,58,0,1) 55%, rgba(243,128,4,1) 83%, rgba(241,109,0,1) 86%);

  
h{
  color:white ;  /*  depth   */
  font-size: 25px;
  display: block;
  margin-top: 0px;
  margin-left: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-feature-settings: "afrc";
  font-stretch: semi-expanded;
  
}
.lol7{  /*  Keep diving   */
  font-size:25px;
  background-color: #f3f3f3;
  width: 210px;
  display: block;
  margin-bottom:344px;
  
  text-decoration: none;
  text-align: center;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color:black;
  margin-left: 860px;  
  border-radius: 30px;
}








}

.end2 {
  width: 100%;
  height: 3050px;
  float: inline-start;
  background: rgb(237,242,0);
background: radial-gradient(circle, rgba(237,242,0,1) 2%, rgba(236,209,1,1) 12%, rgba(230,191,27,1) 24%, rgba(238,211,0,1) 36%, rgba(253,173,24,1) 61%, rgba(255,226,27,1) 89%);

 
h{
  color:white ;  /*  depth   */
  font-size: 25px;
  display: block;
  margin-top: 0px;
  margin-left: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-feature-settings: "afrc";
  font-stretch: semi-expanded;
  
}
.lol8{  /*  Keep diving   */
  font-size:25px;
  background-color: #f3f3f3;
  width: 210px;
  display: block;
  margin-bottom:344px;
  
  text-decoration: none;
  text-align: center;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color:black;
  margin-left: 860px;  
  border-radius: 30px;
}

#lastend
{
h{
  color:white ;  /*  depth   */
  font-size: 25px;
  display: block;
  margin-top: 0px;
  margin-left: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-feature-settings: "afrc";
  font-stretch: semi-expanded;
  
}

}

}