*
{
	margin:0px;
	padding:0px;
}

h1{
    font-kerning:earthquake;
    font-variant:small-caps;
    font-size: 223px;
}
.p1{  

    background-color: rgb(140, 223, 223);
    width: 100%; /* Set the desired width */
    height: 900px
}

.p2{

    background-color: rgb(99, 86, 177);
    width: 100%; /* Set the desired width */
    height: 1400px
}
.p3{

    background-color: rgb(14, 88, 88);    width: 100%; /* Set the desired width */
    height: 1400px
}
.p4{

    background-color: rgb(87, 58, 113);    width: 100%; /* Set the desired width */
    height: 1400px
}
