<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <title>Earth</title>
</head>


<body data-spy="scroll">
   <div class="p1">
    <h>Welcome</h>
    <div id="dive_button">Keep Diving</div>
    <a class="a1" href = "#s"> GO DOWN </a>
   </div>

   <div class="p2" id="s">
    <h>Welcome2</h>
<div id="dive_button">Keep Diving</div>
   </div>
   
   <div class="p3">
    <h>Welcome3</h>
    <div id="dive_button">Keep Diving</div>
   </div>
   
   <div class="p4">
    <h>Welcome4</h>
    <div id="dive_button">Keep Diving</div>
   </div>
   

</body>
</html>