<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <title>Earth</title>
</head>


<body data-spy="scroll">

         <div class="card" id="p1">
           <h>Welcome</h>

              <br><br>

              <div class="wrapper">
               <img src="/images/logo.png" class="cover-image"/>
              </div>
                
              <img src='/images/logo.png' class="logo"/>

              <img src="/images/logo.png"class="character"/>



              <img

<br><br><br><br><br><br><br><br
             <a class="a1" href = "#s"> GO DOWN </a>

         </div>















   
   

</body>
</html>