<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title>Flip Card</title>
</head>
<body>
<div class="left" id="left">
  <br><br><br>    <br><br><br>
      <h1>WELCOME</h1>
      <br><br>
      <h2>To our html & css based website </h2>
</div>
  <div class="container">

    <div class="card">
      <div class="front"></div>
      <div class="back">
        <h1>Back of Card</h1>
        <p>Additional info on the back of the card</p>
      </div>
    </div>
  </div>

  <div class="sea">
     <a href=#lastend>Click to Go End</a>    
    
<img src='/images/main.png' alt='tree' width='600' height='450'>
   <h>Depth : 0 Meters</h>
   <br><br><br><br>
   <h1>Oceanic Crust:</h1>
 <p>The outermost layer of Earth's lithosphere that is found under the oceans and formed at spreading centres on oceanic ridges, which occur at divergent plate boundaries. Oceanic crust is about 6 km (4 miles) thick. It is composed of several layers, not including the overlying sediment.</p>
<br><br><br><br><br><br><br>
      <a class="lol" href="#soil">Keep Diving </a>  
<br>
  
  </div>

  <div class="soil"  id="soil">
    <br><br><br>
    <h>Depth : 5 KiloMeters</h>
    <br><br><br><br>
    <h1>Uppermost mantle:</h1>
    <br><br>
    <p>The asthenosphere is the denser, weaker layer beneath the lithospheric mantle. It lies between about 100 kilometers (62 miles) and 410 kilometers (255 miles) beneath Earth’s surface. The temperature and pressure of the asthenosphere are so high that rocks soften and partly melt, becoming semi-molten.</p>

   <br><br><br>  <br><br><br>  <br><br><br>  <br>   <br><br><br>  <br><br><br>
    <a class="lol2" href="#lava">Keep Diving </a>  
  </div>


  <div class="lava"  id="lava">
    <br><br><br>
    <h>Depth : 100 KiloMeters</h>
    <br><br><br><br>
    <h1>Partially Molten Asthenosphere:</h1>
    <br><br>
    <p>The asthenosphere is made of very viscous, ductile, semi-solid material on which the lithosphere moves. It is a solid that can behave like a liquid, and it is about 440km thick. 3. Mesosphere –The mesosphere is another rigid layer in the earth and it is roughly 2,200km in thickness.</p>
    <br><br>  <br><br><br>  <br><br><br>  <br>   <br><br><br>  <br><br><br>
    <a class="lol3" href="#lava2">Keep Diving </a>  

  </div>


  <div class="lava2"  id="lava2">
    <br><br><br>
    <h>Depth : 200 KiloMeters</h>
    <br><br><br><br>
    <h1>Solid asthenosphere:</h1>
    <br><br>
   <p>The asthenosphere is made of very viscous, ductile, semi-solid material on which the lithosphere moves. It is a solid that can behave like a liquid, and it is about 440km thick. 3. Mesosphere –The mesosphere is another rigid layer in the earth and it is roughly 2,200km in thickness.</p>
    <br><br><br>  <br><br><br>  <br><br><br>  <br>   <br><br><br>  <br><br><br>
    <a class="lol4" href="#lava3">Keep Diving </a>  
  </div>



  <div class="lava3"  id="lava3">
    <br><br><br>
    <h>Depth : 400 KiloMeters</h>
    <br><br><br><br>
    <h1>Mantle transition:</h1>
    <br><br>
    <p>The transition zone is the part of Earth's mantle that is located between the lower and the upper mantle, most strictly between the seismic-discontinuity depths of about 410 to 660 kilometres (250 to 410 mi), but more broadly defined as the zone encompassing those discontinuities, i.e., between about 300 and 850 kilometres (190 and 530 mi) depth.[1] Earth's solid, rocky mantle, including the mantle transition zone (often abbreviated as MTZ), consists primarily of peridotite, an ultramafic igneous rock.</p>
 <br>  <br><br><br> <br><br><br> <br><br><br>
    <a class="lol5" href="#lava4">Keep Diving </a>  
  </div>


  
  <div class="lava4"  id="lava4">
    <br><br><br>
    <h>Depth : 670 KiloMeters</h>
    <br><br><br><br>
    <h1>Lower Mantle:</h1>
     <br><br>
    <p>The lower mantle refers to the layer between the outer core and asthenosphere. It makes up 55% of Earth by volume and experiences pressure from 237,000 atm to 1.3 million atm towards the outer core. Heat and pressure in the lower mantle are much greater than in the upper mantle</p>
        <br><br>  <br><br><br>  <br>   <br><br><br>  <br><br><br>
    <a class="lol6" href="#end">Keep Diving </a>  
  </div>



  <div class="end"  id="end">
    <br><br><br>
    <h>Depth : 2900 KiloMeters</h>
    <br><br><br><br>
    <h1>Outer Molten core:</h1>
    <br><br>
    <p>The outer core is made of mostly nickel and iron. It is always at high temperatures ranging from 4,500 degrees Celsius to 6,000 degrees Celsius. The hottest part of the outer core is approximately the same temperature as the sun. The outer core creates Earth's magnetic field, which protects all life on Earth.</p>
 <br><br><br>  <br><br><br>  <br><br><br>  <br>   <br><br><br>  <br><br><br>
    <a class="lol7" href="#end2">Keep Diving </a>  

  </div>



  <div class="end2"  id="end2">
    <br><br><br>
    <h>Depth : 3150 KiloMeters</h>
    <br><br><br><br>
    <h1>Inner core:</h1>
    <br><br>
    <p>The inner core is believed to be composed of an iron–nickel alloy with some other elements. The temperature at the inner core's surface is estimated to be approximately 5,700 K (5,430 °C; 9,800 °F), which is about the temperature at the surface of the Sun.</p>
  <br><br><br>  <br><br><br>  <br><br><br>  <br>   <br><br><br>  <br><br><br>
    <a class="lol8" href="#lastend">Keep Diving </a> 
    
    <div class="lastend" id="lastend">   
        <br><br><br><br><br><br>  <br><br><br>
      <h>Depth : 6370 KiloMeters</h>
      <br><br><br><br><br><br>  <br><br><br>  <br><br><br><br><br><br>   <br><br><br><br><br><br>  <br><br><br> <br><br><br>
      <h11>The End of Earth</h11>
      <br><br>
      <a class="uu" href="#left">Go to the Earth </a> 
    
    </div>
    
  </div>







</body>
</html>